
.header {
  position: fixed;
  z-index: 200;
  height: 70px;
  width: 100%;
  /* background: linear-gradient(to bottom, #181818,  #1b1b1b); */
  
  background: rgb(32, 32, 32);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-family: "Freestyle Script";
  font-size: 26px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #ffffff; 
  background-color: #3f3f3f; 
  padding: 6px 30px;
  border-radius: 4px; 
  transition: background-color 0.3s ease; 
}


.logo-text:hover {
  color: aliceblue; 
}


.navigation ul {
  list-style: none;
  display: flex;
  margin-right: 100px;
  font-size: 16px;
}

.navigation ul li {
  margin-left: 20px;
}

.navigation ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navigation ul li a:hover {
  color: #000000;
}
.navigation ul li a.active {
  color: #000000;
}
.link:active {
  color: #aaa;
}
.header-btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 20px;
  font-size: 16px;
  color: white;
  border: 2px solid white;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.header-btn:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}
.header-btn.active{
  background-color: rgb(255, 255, 255);
  color: black;
}
