.project-link {
  position: relative;
  display: block;
  width: 500px;
  transition: 0.3s;
  margin-bottom: 30px;
  border-radius: 5%;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.5); 
  z-index: 100;
}
.project-link:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.8); 
  opacity: 0.9;
}
.card-body-down,
.card-body-up{
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.card-title,
.card-title-down{
  justify-content: center;
  margin-left: 100px;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
  background-color: #f0e0cc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-title-down{
  background-color: rgba(188, 219, 236, 0.8);
}
.card-down,
.card{
  border: #8a8a8a;
  margin-bottom: 0px;
  padding-top: 85px;
  /* background-color: rgb(188, 219, 236); */
 
  font-family: Arial, sans-serif;
  color: #333;
  
  transition: 0.3s ease;
}
.card{
  transform: translateX(20px);
  background: linear-gradient(to bottom,rgba(255, 255, 255, 0.8) 0%, rgba(188, 219, 236, 0.8)  100%);
  width: 100%;
}
.card-down{
  margin-top: -30px;
  transform: translateX(20px);
  /* background-color: rgb(240, 224, 204); */
  background: linear-gradient(to bottom, rgba(240, 224, 204, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  width: 100%;
}

/* .card:hover{
  transform: translateY(-5px);
}
.card-down:hover{
  transform: translateY(5px);
} */
.img-project {
  width: 100%;
  border-radius: 8px;
}

.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 8px 8px;
  opacity: 1;
  transition: 0.3s ease;
}

.project-name {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.row {
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 70px;
  background-color: #222;
  color: #fff;
  width: 150px;
  z-index: 200;
  padding-top: 13px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 24px;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link img {
  height: 24px;
  margin-right: 24px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 14px;
}
.side-nav-text{
  margin-top: 20px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}
.link{
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
.link:active{
  color: #8a8a8a;
}
.link:hover,
.side-nav-text:hover {
  cursor: pointer;
  color: #8a8a8a;
}
.activeColor {
  color: #8a8a8a;
}

.project-element-little {
  position: relative;
}

.info-icon {
  position: absolute;
  top: 30px;
  left: -50px;
  cursor: pointer;
}
.icon{
  margin-top: 10px;
  width: 30px;
}
.info-message-js,
.info-message {
  position: absolute;
  background-color: rgb(92, 92, 92);
  color: white;
  border: solid;
  border-color: rgb(66, 66, 66);;
  left: 25px;
  top: 15px;
  width: 450px;
  height: 430px;
  z-index: 199;
  transition: 0.3s;
  padding: 15px;
  border-radius: 5%;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.5); 
  opacity: 0; 
  visibility: hidden;
}
.info-message-js{
  border-radius: 2%;
  height: 200px;
}
.info-icon:hover .info-message-js{
  opacity: 1; 
  visibility: visible; 
  cursor: default;
}

.info-icon:hover .info-message {
  opacity: 1; 
  visibility: visible; 
  cursor: default;
}
.info-list {
  font-size: 14px;
  font-weight: bold;
}
.info-header{
  font-weight: bold;
  justify-content: center;
  text-decoration: none;
  margin-left: 10px;
  color: white;
  transition: color 0.3s ease;
}
.info-header:hover {
  color: rgb(154, 208, 252)
}
.info-text{
  font-style: italic;
}

@media (max-width: 1320px) {
  .project-link {
    width: 350px;
    margin-right: 30px;
  }
  .info-message-js{
    width: 350px;
    margin-left: 20px;
  }
  .card,
  .card-down{
    width: 125%;
  }
}
@media (max-width: 1050px) {
  .project-link {
    width: 300px;
  }
  .sidebar {
    width: 100px;
  }
  .side-nav-text{
    font-size: 15px;
    margin-left: -20px;
  }
  .info-message {
    width: 300px;
    overflow: auto;
  }
  .info-header{
    margin-left: 30px;
  }
  .card,
  .card-down{
    width: 125%;
  }
 
}

@media (max-width: 912px) {
  .project-link {
    margin-top: 10px;
    margin-left: 130px;
    width: 350px;
  }
  .info-icon {
    position: absolute;
    top: 30px;
    left: 100px;
    cursor: pointer;
  }
  .sidebar {
    width: 100px;
  }
  .side-nav-text{
    font-size: 15px;
    margin-left: -20px;
  }
  .card-body-down,
  .card-body-up{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .project-element-little{
    display: flex;
    justify-content: center;
  }
  .card,
  .card-down{
    width: 120%;
  }
}
@media (max-width: 500px) {
  .project-link {
    margin-top: 10px;
    margin-left: 130px;
    width: 300px;
  }
  .card,
  .card-down{
    width: 550px;
  }
}