<section class="landing" style="background-image: url('assets/background.png')">
  <div class="land-page">
    <div class="header-title" [@fadeInOut]>
      <h1>Welcome to My Portfolio</h1>
      <p>Hi, I'm Michał Matyka, a beginner developer.</p>
    </div>

  </div>
  <div class="container" [@fadeInOutbody]>
    <h4 class="text-center mb-4">Where you wanna go from here?</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-body-left mb-4">
          
          <div class="card-body">
            <h5 class="card-title">About me</h5>
            <hr>
            <p class="card-text">
              I have 4 months of experience in projects related work, 1 year and 4 months in data and 3 years of experience in customer service.I appreciate the possibility to use previous experience in new work environment.</p>
              <p class="card-text">
              Opportunity to develop and learn new competences is crucial for me. But most importantly i really want enjoy what i do. This is why i decided to rebrand myself to front-end developer</p>
              <button type="button" class="btn btn-secondary" (click)="toCV()">Check my CV online</button>
          </div>
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-body-right mb-4">
          
          <div class="card-body" >
            <h5 class="card-title">Check my projects</h5>
            <hr>
            <p class="card-text">
              In my projects I've tried various ways to get similar results, which i thought would be great to practice and expand my my skills in different angles.</p>
            <p class="card-text">
              I've exposed myself to many different issues and bugs that forced me to search for a fix accros various sources of knowledge, becouse I underestand that this is great part of real developer work.</p>
            <p class="card-text">
              Plesae keep in mind that more and more projects will be here over time - I look foward to develop myself as much as possible.</p>
              <button type="button" class="btn btn-secondary" (click)="toProjects()">Check my projects</button>
          </div>
        </div>
      </div>
    </div>
  </div>

 
</section>

